/* Stylesheet for Assignment 6 - DOM Manipulation */

@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');

/* set some global attributes */
body {
    margin: 0;
    padding: 0;
    background-color: #0f4f65;
    color: #dcc23e;
    font-family: 'Chelsea Market', cursive;
    box-sizing: border-box;
}

/* header styles */
h1, h2 {
    text-align: center;
    padding-top: 15px;
    letter-spacing: .05em;
}

/* create a flexbox for the list items and center them */
ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
li {
    flex: auto;
    text-align: center;
    list-style: none;
    padding: 5px;
    height: 50px;
}

/* below are the styles used in DOM manipulation */

.list-style{
    list-style: square inside none;
}

.background{
    background: rgb(218,180,4);
    background: linear-gradient(90deg, rgba(218,180,4,1) 0%, rgba(105,12,12,1) 50%, rgba(18,11,1,1) 100%);
}








